@{
    ViewData["Title"] = "File not found!";
}

<div class="text-center">
    <h3>We're sorry, but your file was not found...</h3>
    <a class="btn btn-primary mt-3" asp-controller="Home" asp-action="Index">Return Home</a>
</div>